

body{
    /*background-image: url(/favicon/poza.jpg);*/
    background-color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#h1 {
    color: darkorchid;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif, Tahoma, sans-serif, Courier, monospace;
    border-style: solid;
    border-width: 2px;
    border-color: purple;
    border-radius: 20px;
    text-shadow:5px 3px 5px darkblue, -5px -3px 10px red;
    margin: 20px;

}

#p1 {
    font-size: 22px;
    font-family: Verdana, Tahoma, sans-serif, Courier, monospace;
    margin-left: 20px;
    color: white;
}

#style1 {
    color: red;
    font-weight: bold;
}

#question-text {
    font-size: 18px;
    font-family: Verdana, Tahoma, sans-serif, Courier, monospace;
    margin-left: 20px;
    color: lightseagreen;
}

p {
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif, Courier, monospace;
    margin-left: 20px;
}

video {
    border: 5px solid darkblue;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
}
a:hover {
    text-decoration: underline;
}

#status {
    font-size: 18px;
    font-family: Verdana, Tahoma, sans-serif, Courier, monospace;
    color: lightgreen;
    text-align: center;
    margin-top: 15px;
}

#submit-answer-btn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    color:grey;
    background-color: darkolivegreen;
    border-radius: 20px;
}